# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE and Editor Files
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugin-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
.widget_preview/

# Pub lockfile (ignored for applications as specified)
pubspec.lock

# Android related
**/android/local.properties
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS / macOS related
**/ios/Flutter/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/profile
**/ios/release
**/macos/Flutter/ephemeral/
**/macos/Pods/

# Linux / Windows Ephemeral
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Firebase Configurations & Secrets
**/google-services.json
**/GoogleService-Info.plist
**/firebase_app_id_file.json
